body{
    background-color: #F4F6F9 ;
}
h1 {
    background-color: rgba(0, 51, 102, 0.52);
    text-align: center;
    font-size: 25px;
}


nav{
    text-align: center;
    background-color: rgba(0, 51, 102, 0.52);
    font-size: 25px;
}

a{
    color: black;
    font-size: 25px;
}

#logo{
    margin-right: 1800px;
    width: 120px;
    height: 100px;
    padding-bottom: 10px;
}

#datos{
    text-align: center;
    background-color: rgba(0, 51, 102, 0.52);
    font-size: 25px;
}
#texto p strong{
    font-size: 25px;
}
#texto h1{
    background-color: #E3F2FD ;
}
#texto h3{
    text-align: center;
    font-size: 25px;
}

Article#texto {
    width: 70%;
    float: left;
    border: black solid 3px;
    margin-right: 25px;
    padding: 10px;
    height: 480px;
    background-color: #E3F2FD ;
}

/* Ajuste del formulario  */
aside {
    float: left;
    width: 25%;
    border: black solid 3px;
    margin-left: 3px;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    height: 480px;
    background-color: #BBDEFB ;
}

footer{
    clear: both;
    text-align: center;
    background-color: rgba(0, 51, 102, 0.52);
    font-size: 19px
}

/*Aqui empieza la segunda pagina*/

Article#Informacion{
    text-align: center;
    background-color: #F4F6F9;
    border: 0px solid black;
    font-size: 20px;
}

#Datos_Cuenta{
    text-align: center;
    background-color: bisque;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 5px;
    padding-right:5px;
    padding-top: 20px;
    font-size: 20px;
    height: 400px;
}

@media (max-width: 480px) {
    article,aside{
        width:90vw;
        font-size: 12px;
        margin: 0;
    }
}